<template>
  <div class="view">
    <TopMenu />

    <Grid class="container main">
      <Grid style="width: 20%" class="desktop">
        <div>
          <GridItem @click.native="setGradient(0)">
            <RingButton :ring="colorfulGradient">
              A
            </RingButton>
          </GridItem>
          <GridItem @click.native="setColor()">
            <RingButton :ring="colorRing">B</RingButton>
          </GridItem>
        </div>
      </Grid>

      <BulbSwitch />

      <Grid class="button-grid">
        <div>
          <GridItem class="mobile" @click.native="setGradient(0)">
            <RingButton :ring="colorfulGradient">
              A
            </RingButton>
          </GridItem>
          <GridItem class="mobile">
            <RingButton :ring="colorRing">B</RingButton>
          </GridItem>

          <GridItem>
            <RingButton :ring="colorfulGradient">C</RingButton>
          </GridItem>
          <GridItem>
            <RingButton :ring="colorfulGradient">D</RingButton>
          </GridItem>
        </div>
      </Grid>
    </Grid>

    <SliderBars />
  </div>
</template>

<script>
import TopMenu from './TopMenu';
import BulbSwitch from './BulbSwitch';
import Grid from './Grid';
import GridItem from './GridItem';
import RingButton from './RingButton';
import SliderBars from './SliderBars';
import colorfulGradient from '../animations/colorfulGradient';
import colorRing from '../animations/colorRing';

const n = 60;

export default {
  components: {
    TopMenu,
    BulbSwitch,
    Grid,
    GridItem,
    RingButton,
    SliderBars
  },
  data() {
    return {
      colorfulGradient: colorfulGradient(n)
    };
  },
  methods: {
    setGradient(gradient) {
      this.$store.commit('setGradient', gradient);
      this.$store.commit('setMode', 1);
    },
    setColor() {
      this.$store.commit('setGradient', -1);
      this.$store.commit('setColor', this.$store.state.color);
    }
  },
  computed: {
    colorRing() {
      const [r, g, b] = this.$store.state.color;
      return colorRing(`rgb(${r},${g},${b})`);
    }
  }
};
</script>

<style lang="scss" scoped>
.main {
  flex-direction: row;

  .button-grid {
    width: 20%;
  }

  @media (max-width: 992px) {
    flex-direction: column;

    .button-grid {
      margin-top: 30px;
      width: 40%;
    }
  }
}

.grid > * {
  width: 50%;
}

@media (max-width: 992px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 993px) {
  .mobile {
    display: none !important;
  }
}
</style>