<template>
  <div class="grid" :class="{ row, col }">
    <slot />
  </div>
</template>

<script>
export default {
  props: ['row', 'col']
};
</script>

<style lang="scss" scoped>
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid.row {
  flex-direction: row;
}

.grid.col {
  flex-direction: column;
}
</style>