<template>
  <div class="button" :class="{ 'light-on': $store.state.on }">
    <div
      class="ring"
      :style="{ backgroundImage: `url(${renderedRing})` }"
    ></div>
    <div class="inner"><slot /></div>
  </div>
</template>

<script>
import ConicGradient from '../conicGradient';

export default {
  props: ['ring'],
  computed: {
    renderedRing() {
      const cssSet = set =>
        set.map((color, i) => `${color} 0 ${(i / 60) * 100}%`).join(', '); // rgb() 0 0%, rgb() 0 1.6666666666666667%, ...
      const cssImage = set =>
        new ConicGradient({ stops: cssSet(set), size: 500 }).dataURL; // data:image/svg+xml,...

      return cssImage(this.ring);
    }
  }
};
</script>

<style lang="scss" scoped>
.button {
  max-width: 200px;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.button .ring {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  animation: preview 2s linear infinite;
  animation-play-state: paused;
  transition: all 0.1s ease-out;
}

.button:not(.light-on) .ring {
  filter: brightness(0.7);
}

.button.light-on:hover .ring {
  animation-play-state: running;
}

.button.light-on:active .ring {
  animation-play-state: running;
  width: 125%;
  height: 125%;
  top: -12.5%;
  left: -12.5%;
  opacity: 0.2;
}

.button .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: rgb(219, 230, 234);
  z-index: 9;
  transition: all 0.2s ease;
}

.button:not(.light-on) .inner {
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
}
</style>