<template>
  <div class="view">
    <div class="inner">
      <h1>Welcome to Stripper</h1>
      <p>{{ errorMessage || 'Please connect to your server.' }}</p>
      <Grid>
        <input
          type="text"
          placeholder="IP address"
          v-model="ip"
          @keyup.enter="connect"
        />
        <div>
          <div>
            <input type="checkbox" id="ssl" v-model="ssl" />
            <label for="ssl">SSL?</label>
          </div>
        </div>
      </Grid>

      <Grid>
        <div class="login-button" @click="connect">
          <svg width="24" height="24" viewBox="0 0 24 24" v-if="connected">
            <path
              fill="#000000"
              d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"
            />
          </svg>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="loading"
            v-else-if="loading"
          >
            <path
              fill="#000000"
              d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z"
            />
          </svg>
          <svg width="24" height="24" viewBox="0 0 24 24" v-else>
            <path
              fill="#000000"
              d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z"
            />
          </svg>

          <span>
            Connect
          </span>
        </div>
      </Grid>
    </div>

    <div class="led-bar" :class="{ loading }"></div>
  </div>
</template>

<script>
import Grid from './Grid';

export default {
  components: { Grid },
  data() {
    return {
      loading: false,
      ip: '',
      ssl: false,
      errorMessage: '',
      connected: false
    };
  },
  methods: {
    async connect() {
      this.loading = true;
      try {
        const response = await fetch(`${this.uri}/api`).then(res => res.json());

        if (response.status === 'ok') {
          this.connected = true;
          setTimeout(() => {
            this.$store.commit('setHost', this.ip);
            this.$store.commit('setSSL', this.ssl);
          }, 300);
        } else {
          throw new Error();
        }
      } catch (e) {
        this.errorMessage = `Can't connect to this server. Have you provided the correct IP address?`;
      } finally {
        this.loading = false;
      }
    }
  },
  computed: {
    uri() {
      return `http${this.ssl ? 's' : ''}://${this.ip}`;
    }
  }
};
</script>

<style lang="scss" scoped>
.view {
  background-color: #e8e8e8;

  @media(min-width: 993px) {
    background-image: url('../assets/led-strips.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom left;
  }
}
.inner {
  margin: auto;
  max-width: 600px;
  width: 80%;
}

input[type='text'] {
  appearance: none;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(219, 230, 234, 0.5);
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 1);
  border: 1px solid hsl(0, 0%, 80%);
  padding: 5px 20px;
  flex: 1;
  outline: 0;
  font-size: 1em;
}

.login-button {
  display: inline-flex;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: rgba(219, 230, 234, 0.5);
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 1);
  border: 1px solid hsl(0, 0%, 80%);
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50px;
  font-size: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  svg {
    height: 1em;
    width: auto;

    &.loading {
      animation: loading 0.7s ease-in-out infinite;
    }
  }

  span {
    flex: 1;
    padding: 0 20px;
  }
}

.led-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7px;
  width: 100%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    45deg,
    rgb(242, 13, 0),
    rgb(230, 26, 0),
    rgb(217, 38, 0),
    rgb(204, 51, 0),
    rgb(191, 64, 0),
    rgb(179, 77, 0),
    rgb(166, 89, 0),
    rgb(153, 102, 0),
    rgb(140, 115, 0),
    rgb(128, 128, 0),
    rgb(115, 140, 0),
    rgb(102, 153, 0),
    rgb(89, 166, 0),
    rgb(77, 179, 0),
    rgb(64, 191, 0),
    rgb(51, 204, 0),
    rgb(38, 217, 0),
    rgb(26, 230, 0),
    rgb(13, 242, 0),
    rgb(0, 255, 0),
    rgb(0, 242, 13),
    rgb(0, 230, 26),
    rgb(0, 217, 38),
    rgb(0, 204, 51),
    rgb(0, 191, 64),
    rgb(0, 179, 77),
    rgb(0, 166, 89),
    rgb(0, 153, 102),
    rgb(0, 140, 115),
    rgb(0, 128, 128),
    rgb(0, 115, 140),
    rgb(0, 102, 153),
    rgb(0, 89, 166),
    rgb(0, 77, 179),
    rgb(0, 64, 191),
    rgb(0, 51, 204),
    rgb(0, 38, 217),
    rgb(0, 26, 230),
    rgb(0, 13, 242),
    rgb(0, 0, 255),
    rgb(13, 0, 242),
    rgb(26, 0, 230),
    rgb(38, 0, 217),
    rgb(51, 0, 204),
    rgb(64, 0, 191),
    rgb(77, 0, 179),
    rgb(89, 0, 166),
    rgb(102, 0, 153),
    rgb(115, 0, 140),
    rgb(128, 0, 128),
    rgb(140, 0, 115),
    rgb(153, 0, 102),
    rgb(166, 0, 89),
    rgb(179, 0, 77),
    rgb(191, 0, 64),
    rgb(204, 0, 51),
    rgb(217, 0, 38),
    rgb(230, 0, 26),
    rgb(242, 0, 13),
    rgb(255, 0, 0)
  );
  animation: ledbar 15s linear infinite;
  animation-play-state: paused;

  &.loading {
    animation-play-state: running;
  }
}

@keyframes ledbar {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

@keyframes loading {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
</style>