<template>
  <Grid>
    <div class="slider brightness">
      <input
        type="range"
        min="0"
        max="255"
        value="255"
        class="slider-input"
        v-model="brightness"
      />
    </div>
    <div class="slider speed">
      <input
        type="range"
        min="0"
        max="255"
        value="255"
        class="slider-input"
        v-model="speed"
      />
    </div>
  </Grid>
</template>

<script>
import Grid from './Grid';

export default {
  components: { Grid },
  computed: {
    brightness: {
      get() {
        return this.$store.state.brightness;
      },
      set(value) {
        this.$store.commit('setBrightness', Number(value));
      }
    },
    speed: {
      get() {
        return this.$store.state.speed;
      },
      set(value) {
        this.$store.commit('setSpeed', Number(value));
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  padding-bottom: 20px;
  position: relative;
}

.slider::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  font-size: 1em;
  opacity: 0.5;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
}

.slider.brightness::after {
  content: 'Brightness';
}

.slider.speed::after {
  content: 'Speed';
}

.slider-input {
  appearance: none;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
  background: rgba(219, 230, 234, 0.5);
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, 1);
  overflow: hidden;
  outline: 0;
}

.slider-input::-moz-focus-outer {
  border: 0;
}

.slider-input::slider-thumb {
  appearance: none;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  border: 5px solid hsl(0, 0%, 80%);
  cursor: pointer;
  background: #adc4c9;
  box-shadow: inset 0 1px 2px hsla(0, 0%, 0%, 0.4);
  transition: border-width 0.2s cubic-bezier(0.26, 0.08, 0.15, 1);
  z-index: 2;
}

.slider-input:active::slider-thumb {
  border: 0px solid hsl(0, 0%, 80%);
  transition-duration: 0.1;
}
</style>