<template>
  <div class="top-menu">
    <Grid row>
      <div
        class="flat-button"
        title="Disconnect"
        @click="$store.commit('setHost', false)"
      >
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="#000000"
            d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z"
          />
        </svg>
      </div>
      <div
        class="flat-button"
        title="Pause animation"
        @click="$store.commit('setMode', $store.state.mode === 0 ? 1 : 0)"
      >
        <svg width="24" height="24" viewBox="0 0 24 24" v-if="mode === 1">
          <path fill="#000000" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
        </svg>
        <svg width="24" height="24" viewBox="0 0 24 24" v-else>
          <path fill="#000000" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
        </svg>
      </div>
      <div
        class="flat-button toggle-color-picker"
        title="Color picker"
        @click="$store.commit('toggleColorPicker')"
      >
        <svg width="24" height="24" viewBox="0 0 24 24">
          <path
            fill="#000000"
            d="M17.5,12A1.5,1.5 0 0,1 16,10.5A1.5,1.5 0 0,1 17.5,9A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 17.5,12M14.5,8A1.5,1.5 0 0,1 13,6.5A1.5,1.5 0 0,1 14.5,5A1.5,1.5 0 0,1 16,6.5A1.5,1.5 0 0,1 14.5,8M9.5,8A1.5,1.5 0 0,1 8,6.5A1.5,1.5 0 0,1 9.5,5A1.5,1.5 0 0,1 11,6.5A1.5,1.5 0 0,1 9.5,8M6.5,12A1.5,1.5 0 0,1 5,10.5A1.5,1.5 0 0,1 6.5,9A1.5,1.5 0 0,1 8,10.5A1.5,1.5 0 0,1 6.5,12M12,3A9,9 0 0,0 3,12A9,9 0 0,0 12,21A1.5,1.5 0 0,0 13.5,19.5C13.5,19.11 13.35,18.76 13.11,18.5C12.88,18.23 12.73,17.88 12.73,17.5A1.5,1.5 0 0,1 14.23,16H16A5,5 0 0,0 21,11C21,6.58 16.97,3 12,3Z"
          />
        </svg>
      </div>
    </Grid>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Grid from './Grid';

export default {
  components: { Grid },
  computed: mapState(['mode'])
};
</script>

<style lang="scss" scoped>
.top-menu {
  margin-left: auto;
  margin-right: 10px;
}

.flat-button {
  padding: 10px;
  background-color: rgb(219, 230, 234);
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.flat-button:active {
  transform: scale(0.9);
}
</style>