<template>
  <div class="view view-switcher">
    <transition name="view-switch" mode="out-in">
      <component :is="view" />
    </transition>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import ControllerView from './components/ControllerView';
import SetupView from './components/SetupView';

export default {
  components: { ControllerView, SetupView },
  computed: {
    view() {
      return this.$store.state.host ? 'ControllerView' : 'SetupView';
    }
  }
};
</script>

<style lang="scss">
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(241, 241, 241);
  transition: background-color 0.3s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI',
    'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

body.light-on {
  background-color: rgb(248, 248, 248);
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.view-switch-enter-active,
.view-switch-leave-active {
  transition: opacity 0.15s ease;
}
.view-switch-enter,
.view-switch-leave-to {
  opacity: 0;
}
</style>